
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

header {
    background-color: green;
    color: rgba(22, 2, 6, 0.719);
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: gold;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 30%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    cursor: pointer;
    color: blue;
}

.sidebar li:hover {
    text-decoration: underline;
}

.dashboard {
    width: 70%;
    padding-left: 20px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}
